/* @chartset "utf-8";
设置字符集为utf-8格式 */

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,li,dt,input,textarea,select,figure{
    margin: 0;
    padding: 0;
}
.w{
    /* width: 1170px; */
    margin-left: auto !important;
    margin-right: auto !important;
}
img{
    vertical-align: top;
}
a{
    text-decoration: none;
    color: inherit;
    /* inherit 继承 */
}
li{
    list-style: none;
    /* background-image: url();  */
    background-size: contain;
    background-repeat: no-repeat;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clear{
    zoom: 1;
}
html{
    /* font-size: 12px; */
    font-family: Arial,"微软雅黑", "宋体";
}
input,textarea,select{
    outline: none;
}
/* 上下二选一皆可 */
/* input:focus,textarea:focus,select:focus{
    outline: none;
} */
textarea{
    resize: none;
}
input[type="button"],input[type="reset"],input[type="submit"]{
    cursor: pointer;
}
.sl{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}